<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">معرض الصور</li>
            <li><a asp-page="index">الرئيسية</a></li>
            <li><a asp-page="upload">رفع صورة</a></li>
        </ul>
    </div>
</div>